.header-container {
    background-color: rgb(99, 89, 89);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;;
    
}
.user-link{
    color: white;
    margin-left: 10px;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: calc(100% - 90px);
}

.footer{
    background-color: rgb(99, 89, 89);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 20px;
}
.user-item {
    display: flex;
    align-items: center;
}
.main-section {
    display: flex;
        justify-content: space-around;

    padding: 70px;

    background-color: beige;
}
